<!-- IF S_AJAX_BASE_NOTIFICATION -->
<a href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="dropdown-trigger"><span>{L_NOTIFICATIONS} [</span><strong>{NOTIFICATIONS_COUNT}</strong><span>]</span></a>
<!-- INCLUDE notification_dropdown.html -->
<!-- ELSE IF S_AJAX_BASE_PMREGBAR -->
<div id="infobar">
<a href="{U_PRIVATEMSGS}"><span class="pm-mail"></span>{L_PMREGBAR_HELLO} {S_USERNAME} {L_PMREGBAR_YOUHAVE} {PRIVATE_MESSAGE_INFO}<!-- IF PRIVATE_MESSAGE_INFO_UNREAD --> {L_PMREGBAR_AND} {PRIVATE_MESSAGE_INFO_UNREAD}<!-- ENDIF --><span class="pm-mail"></span></a>
</div>
<!-- ELSE -->{PRIVATE_MESSAGE_COUNT}<!-- ENDIF -->
